body {
    margin: 0;
}


div {
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: center;    /*Alinear horizontal*/
    align-items: center;        /*Alinear vertical*/
}

div p {
    font-size: 1.5rem;
    color: white;
    padding: 5px;
    margin: 0;
    background-color: #0078A6;
}